[gcode_macro END_PRINT]
gcode:
    M400

    # Extruder etwas zurückziehen
    G91
    G1 E-2 F1800

    # Druckkopf anheben
    G1 Z5 F3000

    G90

    # Druckkopf nach hinten links fahren
    G1 X10 Y320 F6000

    # Heizungen und Lüfter aus
    M104 S0
    M140 S0
    M106 S0

    # Extruder-Motoren deaktivieren
    M84