[include mainsail.cfg]
[include m600.cfg]
[include TEST_SPEED.cfg]

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4000
max_z_velocity: 20
max_z_accel: 30

[stepper_x]
step_pin: PE5
dir_pin: !PF1
enable_pin: !PF0
microsteps: 16
rotation_distance: 20
endstop_pin: !PC15
position_endstop: 0
position_min: 0
position_max: 330
homing_speed: 50

[stepper_y]
step_pin: PF9
dir_pin: !PF3
enable_pin: !PF5
microsteps: 16
rotation_distance: 20
endstop_pin: !PC14
position_endstop: 0
position_max: 330
homing_speed: 50

[stepper_z]
step_pin: PA6
dir_pin: PF15
enable_pin: !PA5
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -5

[extruder]
step_pin: PB1
dir_pin: PF13
enable_pin: !PF14
microsteps: 16
rotation_distance: 7.5
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PG7
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_kp: 17.871
pid_ki: 0.611
pid_kd: 130.679
min_temp: 0
max_temp: 280
pressure_advance: 0.04

[heater_bed]
heater_pin: PE2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC2
control: pid
pid_kp: 75.183
pid_ki: 0.751
pid_kd: 1880.506
min_temp: 0
max_temp: 120

[fan]
pin: PG0

[heater_fan hotend_fan]
pin: PG9
heater: extruder
heater_temp: 50

[controller_fan drivers_fan]
pin: PD7

[probe]
pin: !PE3
x_offset: -40
y_offset: 0
speed: 10
sample_retract_dist: 5

[safe_z_home]
home_xy_position: 200, 200
speed: 50
z_hop: 10

[bed_mesh]
speed: 100
probe_count: 5,5
mesh_min: 20,20
mesh_max: 290,290
algorithm: bicubic
fade_start: 1
fade_end: 5

[filament_switch_sensor filament_sensor]
pause_on_runout: True
switch_pin: !PE6

[probe]
pin: !PE3
x_offset: -40
y_offset: 0
z_offset: 0
speed: 10
sample_retract_dist: 5